@use 'styles/utils';

$element-width: 20rem;

h2 {
   margin-bottom: 0.5rem;
}

.scroller-wrapper {
   display: grid;
   gap: 3rem;
   grid-auto-flow: column;
   grid-auto-columns: $element-width;
   overflow-x: auto;
   padding: 2rem 50%;
   @include utils.inline-scroll-snapping(center);

   prfq-game-tile {
      height: 10rem;
      @include utils.inline-view-timeline(element-enlargement, $inset: calc((100% - $element-width * 1.5) / 2));
   }

   &:has(> .no-games) {
      overflow-x: hidden;
      grid-template-columns: fit-content;
      place-items: center;
   }
}

@keyframes element-enlargement {
   $enlargement: 1.2;

   0% {
      transform: scale(1);
   }

   50% {
      transform: scale($enlargement);
   }

   100% {
      transform: scale(1);
   }
}

.no-games {
   font-style: italic;
}

