@use 'styles/utils';

$element-width: 20rem;

:host {
   display: block;
   margin-top: 2rem;
}

.scroller-header {
   display: flex;
   align-items: center;
   padding-block: 1rem;

   h2 {
      margin-block: 0;
   }

   input[type='search'] {
      font-size: 1.25rem;
      padding: 0.5rem;
      margin-left: auto;
      border: none;
      border-radius: 0.25rem;
      caret-color: var(--primary-text);

      &:focus-visible {
         outline: 2px solid var(--primary-container);
      }
   }
}

.scroller-wrapper {
   display: grid;
   gap: 3rem;
   grid-auto-flow: column;
   grid-auto-columns: $element-width;
   overflow-x: auto;
   min-height: 13rem;
   padding: 2rem 50%;
   @include utils.inline-scroll-snapping(center);

   prfq-game-tile {
      height: 10rem;
      @include utils.inline-view-timeline(element-enlargement, $inset: calc((100% - $element-width * 1.5) / 2));
   }

   &:has(> .no-games) {
      overflow-x: hidden;
      grid-template-columns: fit-content;
      place-items: center;
   }
}

@keyframes element-enlargement {
   $enlargement: 1.2;

   0% {
      transform: scale(1);
   }

   50% {
      transform: scale($enlargement);
   }

   100% {
      transform: scale(1);
   }
}

.no-games {
   font-style: italic;
}
