@use './styles/material-override';
@use './styles/tokens';

html,
body {
   color-scheme: only dark;
}

body {
   margin: 0;
   font-family: Roboto, 'Helvetica Neue', sans-serif;
}

::selection {
   color: color-mix(in oklab, white, var(--primary-text));
   background-color: color-mix(in oklab, black, var(--primary-container) 60%);
}

