@let loggedInUser = user();
@if (!loggedInUser) {
   <prfq-register></prfq-register>
   <prfq-login></prfq-login>
} @else {
   <h2>Profile</h2>
   <p>
      Username:
      <span class="data">{{ loggedInUser.username }}</span>
   </p>
   @if (loggedInUser.isAdmin) {
      <p class="admin-message">This is an admin profile! You can create new games, and modify your existing ones!</p>
   }
   <h3>Participated games</h3>
   <ul>
      @for (game of participatedGames(); track $index) {
         <li>
            {{ game.name }}
            <button
               mat-stroked-button
               (click)="toGame(game.id)">
               View
            </button>
         </li>
      } @empty {
         <p class="error">No participated games... yet</p>
      }
   </ul>
}
<div class="actions-container">
   @if (loggedInUser) {
      <button
         mat-flat-button
         (click)="logout()">
         Log out
      </button>
   }
   <button
      mat-flat-button
      (click)="toMainPage()">
      Go to main page
   </button>
</div>
