<h1>Main page</h1>
@if (isAdminUser()) {
   <div class="game-creation-container">
      <p>As your account has admin rights, you can create new games!</p>
      <button
         mat-flat-button
         (click)="createNewGame()">
         Create new game
      </button>
   </div>
}
<prfq-games-scroller
   _title="All games"
   [search]="true"
   [games]="allGames()"></prfq-games-scroller>
@if (isAdminUser()) {
   <prfq-games-scroller
      _title="Your games"
      [search]="true"
      [games]="ownGames()"></prfq-games-scroller>
}
<prfq-games-scroller
   _title="Most popular games"
   [games]="mostPopularGames()"></prfq-games-scroller>
<prfq-games-scroller
   _title="New games"
   [games]="newGames()"></prfq-games-scroller>
