:root {
   --primary-text: hsl(180, 100%, 73%);

   --primary-container: hsl(180, 58%, 35%);

   --secondary: hsl(180, 15%, 39%);
   --secondary-container: hsl(180, 14%, 15%);
   --secondary-container-hover: hsl(180, 17%, 23%);

   --tertiary-container: hsl(180, 29%, 27%);
   --tertiary-container-hover: hsl(180, 30%, 34%);

   --error: hsl(0, 100%, 25%);
   --on-error: white;
   --warning: hsl(0, 100%, 45%);
}

