:host {
   display: block;
   position: relative;
   padding: 2rem;
}

button.back {
   position: absolute;
}

h1 {
   text-align: center;
   font-size: 3rem;
   margin-top: 0;

   .subtitle {
      font-weight: bold;
      font-size: 2rem;
   }
}

.quiz-creation-container {
   p {
      font-size: 1.25rem;
      color: var(--primary-text);
      margin-top: 0;
      user-select: none;
   }
}

.quiz-creation-container,
.leaderboard-container,
.logged-out-notice-container,
.quizzes-container {
   $padding: 2rem;

   background-color: var(--secondary-container);
   padding: $padding;
   border-radius: $padding;

   h2 {
      font-size: 2rem;
      margin: 0;
   }

   &:not(:first-child) {
      margin-bottom: 3rem;
   }
}

.leaderboard-container {
   h2 {
      text-align: center;
   }

   table {
      margin: 2rem auto 0;
      border-collapse: collapse;

      tr {
         transition: background-color 300ms ease;

         &.own {
            font-weight: bold;
         }

         &:hover:not(:has(> th, p)) {
            background-color: var(--secondary-container-hover);
         }
      }

      th,
      td {
         padding: 0.5rem 1.5rem;
         border: 1px solid var(--secondary);
      }

      td {
         cursor: default;
      }

      th {
         font-size: 1.25rem;
         user-select: none;
      }

      .no-entries {
         line-height: 3;
         text-align: center;
         font-style: italic;
         user-select: none;
      }
   }
}

.logged-out-notice-container {
   p {
      font-style: italic;
      font-size: 1.25rem;
      color: var(--warning);
      text-align: center;
   }
}

.quizzes-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
   grid-auto-rows: 1fr;

   h2 {
      place-self: center;
   }

   .quiz-tile {
      position: relative;
      border: 1px solid var(--tertiary-container);
      padding: 1rem;

      button.quiz-delete {
         position: absolute;
         color: var(--on-error);
         background-color: var(--error);
         top: 1rem;
         right: 1rem;
      }

      button.start {
         width: 100%;
      }
   }

   .no-quiz {
      font-style: italic;
   }
}
